.qualification-button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
}


.qualification-container{
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin-bottom: 2rem;
} 

.qualification-tabs{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.qualification-button{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 2rem;
  cursor: pointer;
}

.qualification-button:hover{
  color: var(--first-color);
}

.qualification-icon{
  font-size: 1.7rem;
  margin-right: 0.25rem;
}

.qualification-data{
  width: 50%;
  gap:2rem;
}

.qualification-title{
  font-size: var(--normal-font-size);
  margin-bottom: 0.5rem;
  /* font-weight: var(--font-medium); */
}

.qualification-subtitle{
  display: inline-block;
  font-size: var(--small-font-size);
  font-style: italic;
  margin-bottom: 1rem;
}

.qualification-date{
  display: flex;
  align-content: center;
  align-items: center;
  gap: 0.75rem;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  margin-bottom: 1rem;
}

.calendar-icon{
  width: 1rem;
  height: 1rem;
}



/* .qualification-calendar{
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
} */

/* .time-line{
  display: flex;
  justify-content: center;
} */

/* .qualification-rounder{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  border-radius: 50%;
} */

/* .qualification-line{
  display: block;
  width: 1px;
  height: 100%;
  margin-top: -5px;
  background-color: var(--first-color);
  transform: translate(6px -7px);
} */


.tab-active{
  color: var(--first-color);
}